.customeDated {
  font-family: Arial, sans-serif;
  padding: 10px;
  border-radius: 5px;
  background-color: black;
  color: white;
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.customeDate:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.customeDate::-webkit-calendar-picker-indicator {
  filter: invert(50%);
}

.customeDate:hover {
  border-color: #007bff;
}

@keyframes pop {
  0% {
    transform: translateX(-100px);

    opacity: 0;
  }
  90% {
    opacity: 0.5;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

.pop-animation {
  animation: pop 0.2s ease-in-out;
}
